<div class="page-body">
    <div class="w-100 wrapper">
        <div class="description">
            Best <span>
                <p> Exchange Rates</p>
            </span>
        </div>
        <video [muted]="'muted'" autoplay loop src="assets/video/Finance.mp4"></video>


    </div>
    <div class="container">
        <p class="about-us"> ABOUT US</p>
        <div class="row">
            <div>
                <div><img width="80px" src="assets/img/call.png" alt=""></div>
                Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
                source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                customization.
            </div>
            <div>
                <div><img width="80px" src="assets/img/user.png" alt=""></div>
                Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
                source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                customization.
            </div>
            <div>
                <div><img width="80px" src="assets/img/globe.png" alt=""></div>
                You can create your own custom avatar for the masthead, change the icon in the dividers, and add your
                email address to the contact form to make it fully functional!
            </div>
        </div>
    </div>
</div>