<nav class="navbar  sticky-top navbar-dark bg-dark">
  <img height="50px" class="logo" routerLink="/home" src="assets/img/logo.png" alt="">
  <img class="burger " (click)="show = true" height="32px" src="assets/img/burger.png" alt="">
</nav>

<div id="mySidenav" class="sidenav" [ngClass]="{'open': show}">
  <a href="javascript:void(0)" class="closebtn" (click)="show = false">&times;</a>
  <a (click)="show = false" routerLink="/home">Home</a>
  <a (click)="show = false" routerLink="/rate">Rates</a>
  <a (click)="show = false" routerLink="/employees">Employees</a>
  <a (click)="show = false" routerLink="/aboutus">About Us</a>
</div>
<router-outlet></router-outlet>